{% extends 'base.html' %}
{% block title %}
Add Student
{% endblock title %}

{% block logo %}
    <a href="/administrator" class="scrollto">eSTUD</a>
{% endblock logo %}

{% block header %}
  {% if current_user.is_authenticated  %}
    <li><a href="/seriesdetails">Back</a></li>
    <li class="buy-tickets"><a href="/logout">Logout</a></li>
  {% endif %}

{% endblock header %}




{% block intro %}


  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">

    <h2 style="color:rgb(14, 68, 72);-webkit-text-stroke: 0.4px #fff; font-size: 45px;" class="text-center"><span><b><b>Add student</b></b></span> </h2>
      
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}


    </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <br>
    <div class="container text-white">

      <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4">

      <form action="/addstudent" method="post">
      <div class="form-group">

      <label for="sname">Student Name</label>
      <input type="text" class="form-control" name="sname" id="sname">
      </div>
      <br>
      <div class="form-group">

      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email">
      </div>
      <br>
      <div class="form-group">

      <label for="groupname">Group</label>
      <input type="groupname" class="form-control" name="groupname" id="groupname">
      </div>
      <br>

      <div class="form-group">
        <label for="exampleInputPassword1" >Password</label>
        <input type="password" class="form-control mb-2" name="password" id="exampleInputPassword1" required>
      </div>
        
        <button type="submit" style="background-color:rgb(14, 68, 72)" class="btn btn-sm btn-block text-white">Add Record</button>
      </form>
      <br>
      <br>

      </div>

      <div class="col-md-4"></div>

      </div>
    </div>



    </div>
  </section> <!-- End Intro Section -->

{% endblock intro %}